.title{
    font-size: 2rem;
    text-shadow: 0px 3px 20px #ffffff;
    letter-spacing: 5px;
    text-shadow: -6px 2px 8px rgb(226, 226, 226);
    text-align: center;
    color: rgb(0, 238, 255);
    margin-top: 1rem;
    width: 100%;
    padding: 5px;
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid #ff0000;
    gap: 50px;
    padding: 30px;
    margin-top: 2vh;
    border-radius: 40px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.infoBtn{
    border: none;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px -3px 20px #000000;
    font-weight: 600;
    width: 100%;
    background-color: rgba(0, 68, 255, 0.426);
    color: #ffffff;
    text-shadow: 0px 3px 5px black;
    font-size: 1.2rem;
    transition: all 400ms ease-in-out;
    margin-top: 20px;
}

.infoBtn:hover{
    border: 2px solid #81f901;
    box-shadow: 0px -3px 20px #43fb00c2;
    background-color: rgba(0, 255, 72, 0.426);
    color: #ffffff;
    text-shadow: 0px 3px 5px black;
    border-radius: 30px;
}


@keyframes cardBackground{
  5%{ 
    opacity: 0;
    background-color: #e7ff10;
  }
}



@media (width >= 768px){
    .title{
        font-size: 4rem;
    }
}